@charset "UTF-8";

#ongbtn{
    background-color: #214f84;
    border-color: #214f84;
}

.card{
  width: 18rem;
}

.ongass {
  text-align: justify;
}

.container__ongs, .card__ong{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__ong{
  margin-bottom: 1rem;
}