@charset "UTF-8";

body {
  overflow-x: hidden;
}

#ongbtn{
    background-color: #214f84;
    border-color: #214f84;
}

.card{
  width: 18rem;
}

.ongass {
  text-align: justify;
}

.container__ongs, .card__ong{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__ong{
  margin-bottom: 1rem;
}

#contador {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
#mensagem {
  text-align: center;
  font-size: 18px;
  color: #555;
}