@charset "UTF-8";

.container-login {
    /* container-login é o container principal que abrange toda a página de login. */
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-box {
    /* img-box estiliza a seção esquerda que contém a imagem de fundo. */
    width: 50%;
    height: 100%;
    background-color: #214f84;
    padding: 20px;
}

.img-box img {
    width: 100%;
    height: 100%;
}


.content-box {
    /* content-box estiliza a seção direita que contém o formulário de login. */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box {
    /* content-box estiliza a seção direita que contém o formulário de login. */
    /* .form-box estiliza o contêiner do formulário de login. */
    width: 50%;
}


.content-box .form-box .ul {
    /* content-box estiliza a seção direita que contém o formulário de login. */
    /* .form-box estiliza o contêiner do formulário de login. */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box .form-box .ul li {
    /* content-box estiliza a seção direita que contém o formulário de login. */
    /* .form-box estiliza o contêiner do formulário de login. */
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.content-box .form-box .ul li:hover {
    /* content-box estiliza a seção direita que contém o formulário de login. */
    /* .form-box estiliza o contêiner do formulário de login. */
    background: #e4e4e4;
}

.form-box .ul li img {
    /* .form-box estiliza o contêiner do formulário de login. */
    width: 40px;
}

.content-box .form-box h2 {
    /* content-box estiliza a seção direita que contém o formulário de login. */
    /* .form-box estiliza o contêiner do formulário de login. */
    color: #32324f;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}



.content-box .form-box .input-box {
    /*.input-box estiliza as caixas de entrada de texto do formulário.*/
    margin-bottom: 2px;
}

.content-box .form-box .input-box input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}

.content-box .form-box .input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #32324f;
    font-weight: 400;
}

.content-box .form-box .input-box input::placeholder {
    color: #a9adb6;
}


.content-box .form-box .input-box input[type=submit] {
    /*.input-box input[type=submit] estiliza o botão de login.*/
    background: #214f84;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}


.content-box .form-box .input-box input[type=submit]:hover {
    /*.input-box input[type=submit] estiliza o botão de login.*/
    background: #3286ca;
}


.content-box .form-box .remember {
    /*.remember estiliza a seção de "lembrar de mim" com uma caixa de seleção e um link "Esqueceu a Senha?".*/
    margin-bottom: 20px;
    color: #32324f;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.content-box .form-box .remember a {
    text-decoration: none;
    color: #4aa4ee;
}

.content-box .form-box .remember a:hover {
    color: #3286ca;
}

.content-box .form-box .input-box p {
    color: #32324f;
}

.content-box .form-box .input-box p a {

    color: #4aa4ee;
}

.content-box .form-box .input-box p a:hover {
    
    color: #3286ca;
}

.content-box .form-box h3 {
    color: #607d8b;
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}

@media (max-width:868px) {

    /*@media aplicam estilos diferentes para diferentes tamanhos de tela, tornando a página responsiva.*/
    .container-login .img-box {
        display: none;
    }

    .container-login .content-box {
        width: 100%;
    }

    .container-login .content-box .form-box {
        width: 100%;
        padding: 40px;
        background: white;
        margin: 50px;
    }

    .container-login .content-box .form-box h3 {
        margin: 30px 0 10px;
    }
}

@media (max-width:450px) {

    /*@media aplicam estilos diferentes para diferentes tamanhos de tela, tornando a página responsiva.*/
    .container-login .content-box .form-box .remember {
        flex-wrap: wrap;
    }

    .container-login .content-box .form-box .remember a {
        margin-top: 20px;
    }

}

