.container-fluid a {
    background: transparent;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#h3{
    color: #214f84;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
}

#navbar{
    background-color: #214f84;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #214f84;
    color: white;
  }

.card {
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

#linkdatas {
    color: black;
}

#ppq{
    border-radius: 25%;
}

.mar{
    text-align: justify;
}